DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
API_CORS_ORIGIN=http://localhost:5173,http://localhost:5174
API_SERVER_PORT=3000
BETTER_AUTH_URL=http://localhost:3000/auth
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:5173,http://localhost:5174"
BETTER_AUTH_SECRET=MHmuCH0hghJO2LgzbiGKmvZY10nVSNDyYrdOqK2LsB8Z3ba132x8zQ==
